body{
    color: rgb(22, 5, 5);
    background-image: url("zenitsu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;

